<div id="<%= dom_id project %>">
  <p>
    <strong>Project domain:</strong>
    <%= project.project_domain %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= project.budget %>
  </p>

  <p>
    <strong>Estimation:</strong>
    <%= project.estimation %>
  </p>

</div>
