<div id="<%= dom_id company %>">
  <p>
    <strong>Business name:</strong>
    <%= company.business_name %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= company.street_address %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= company.phone_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= company.city %>
  </p>

  <p>
    <strong>Working days:</strong>
    <%= company.working_days %>
  </p>

  <p>
    <strong>Meta data:</strong>
    <%= company.meta_data %>
  </p>

</div>
