<p style="color: green"><%= notice %></p>


<h1>Companies</h1>


<div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Business Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">City</th>
        <th scope="col">Working Days</th>
        <th colspan="3" class="text-center">Action</th>
        <th scope="col">Users</th>
      </tr>
    </thead>
    <tbody>
          <% @companies.each do |company| %>
      <tr>

        <th scope="row">  <%= company.id %></th>
        <th scope="row">  <%= company.business_name %></th>
        <th scope="row">  <%= company.street_address %></th>
        <th scope="row">  <%= company.phone_number %></th>
        <th scope="row">  <%= company.city %></th>
        <th scope="row">  <%= company.working_days %></th>
        <th scope="row">  <%= link_to 'Show', company %></th>
        <th scope="row">  <%= link_to 'Edit', edit_company_path(company) %></th>
        <th scope="row">  <%= link_to 'Delete',
          company_path(company), data: {turbo_method: :delete,turbo_confirm: "Are you sure?"} %>
        </th>
        <th scope="row">
          <%= link_to users_path(company_id: company.id) do
          %>
          Users<span class="position-absolute top-0 start-100 translate-middle badge text-bg-info">
                  <%= company.users.count %>
                </span>
          <% end %>
        </th>
      </tr>
        <% end %>
      </tbody>
  </table>
    <%= link_to "New company", new_company_path %>
</div>

<div>
</div>
