<nav class="navbar sticky-top  navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= link_to 'Company App', "/companies", class: "navbar-brand" %>

        <li class="nav-item">
          <%= link_to 'Company', "/companies", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Project', "/projects", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'User', "/users", class: "nav-link" %>
        </li>
      </ul>
      <div class="navbar-nav mr-auto mb-2 mb-lg-0">
        <%= yield :search_form %>
      </div>
    </div>
  </div>

</nav>




<!-- <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">


      </ul>
      <div class="navbar-nav mr-auto mb-2 mb-lg-0">

      </div>
    </div>
  </div>

</nav> -->
